<h1>About Us</h1>
<p> Not only do indoor plants enhance the overall appearance of a space, but studies show they boost moods, 
increase creativity, reduce stress, and eliminate air pollutants—making for a healthier, happier you.</p>
